@font-face {
    font-family: NorseBold;
    src: url(Norse-Bold.otf);
}

* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* constraining min and max width */
@media only screen and (max-width: 900px) {
    #bg-img {
        display: none;
    }
}

.wrapper, #formwrapper {
    display: flex;
}

.wrapper {
    flex-direction: row;
}

#textwrapper {
    flex-direction: column;
    /* padding-left: 30px; */
    /* margin-left: 30px; */
}

#formwrapper {
    flex-direction: column;
}

#formfields {
    box-shadow: 0px 0px 10px;
    background-color: white;
    padding: 30px;
    margin-bottom: 40px;

}

#aftershadow {
    margin-left: 30px;
}
/* https://stackoverflow.com/questions/42486360/align-two-items-left-and-right-when-on-one-line-and-center-when-on-two-lines */
/* @media(max-width: 768px) {
    .container {
      justify-content: space-around;
    }
  } */
.maintext {
    font-weight: 600;
    font-size: larger;
    margin-top: 120px;
    margin-bottom: 20px;
    padding-right: 20vw;
    margin-left: 30px;
}

#sidetext {
    font-size: larger;
    font-weight: 600;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formtext {
    font-size: 10px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}

#bg-img {
    flex-shrink: 1;
    position: relative;
}


#logo-bg {
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 632px;
    height: 100px;
    position: absolute;
    color: white;
    font-size: 36px;
    padding: 25px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: NorseBold;
    font-size: 64px;
}

/* styling inputs  */
/* add width-dependency for mobile layout */
input {
    height: 22px;
    border-style: solid;
    border-color: #E5E7EB;
    border-width: 2px;
    border-radius: 6px;
    /* box-shadow: none; */
}



/* set not invalid on page start */
input:invalid {
    border-color: red;
}

input:placeholder-shown {
    border-color: #E5E7EB;
}

input:active, input:focus {
    /* border-width: 0; */
    /* border-color: rgb(136, 167, 134); */
    border-color: rgb(122, 171, 228);
    /* box-shadow: black 12px; */
    box-shadow: initial;
    outline: none;
}


input[type="submit"] {
    height: 50px;
    width: 250px;
    background-color: #596D48;
    outline: none;
    border-radius: 8px;
    border-color: white;
    /* box-shadow: ; */
    color: white;
}

#pwdError {
    color: red;
    margin-top: 10px;
    
}